{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <!-- Banner Area -->
    <section class="banner-area pricing-banner linearbg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h1><span>Our </span>team</h1>
                    </div>
                </div>
            </div>
        </div>
        <span class="banner-shapes wow animate__animated animate__fadeInDown"></span>

        <img class="pricing-shape-4 wow animate__animated animate__fadeInRight" src="{% static 'images/shape/banner-shape6.svg' %}" alt="Shape Image">


    </section>
    <!-- Banner Area -->
    <section class="team-area bg-white-800 section-padding-xl">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-3">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team.png" alt="Team">
                        <h4>Cooper Dias</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-sm-0">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team-2.png" alt="Team">
                        <h4>Jaylon Franci</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-lg-0">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team-3.png" alt="Team">
                        <h4>Kadin Baptista</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-lg-0">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team-4.png" alt="Team">
                        <h4>Ruben Press</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team.png" alt="Team">
                        <h4>Cooper Dias</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-sm-0">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team-2.png" alt="Team">
                        <h4>Jaylon Franci</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-lg-0">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team-3.png" alt="Team">
                        <h4>Kadin Baptista</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-lg-0">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team-4.png" alt="Team">
                        <h4>Ruben Press</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Area -->

    <!-- Client Area -->
    <section class="client-area client-area-two">
        <div class="container">
            <div class="client-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title-center">
                            <h2 class="font-bold mt-n3 mt-md-n4">Our Clients</h2>
                        </div>
                        <div class="client-text">
                            <h4 class="mt-n3"><span>3000+ Companies</span> Trust Sturtaplanding to build
                                landing page for their <span>dream product</span></h4>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-1.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-2.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-3.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-4.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-5.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-1.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-2.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-3.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-4.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-5.png" alt="Brand Image">
                        </div>
                    </div>
                </div>
                <div class="client-meta">
                    <ul class="client-review-icon">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                    <div class="client-review-number">
                        <span>4.9</span> Stars
                    </div>
                    <div class="client-review">
                        <span>5121+</span> Reviews
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-area cta-area-two section-padding bg-red-150">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center pb-0">
                        <h2 class="mt-n4 font-bold">Looking for strategies?</h2>
                        <a href="{% url 'contact' %}"><button class="btn btn-red">Contact Us</button></a>
                    </div>
                </div>
            </div>
        </div>
        <span class="shape9"></span>
        <span class="shape12"></span>
        <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
        <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
    </section>
    </main>
    {% endblock %}