{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3">B2B & B2C Marketing Strategy</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/strategists.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">B2B & B2C Marketing Strategy and it's relevancy.
                        </h2>

                    <div class="points"><h6>B2B (business-to-business) marketing is what it sounds like. It involves a business whose primary customer is another business, rather than everyday consumers. And because they market their products, services or solutions exclusively to other businesses, B2B marketers direct all of their marketing efforts towards persons or teams who make purchase decisions on behalf of their companies.</h6> </div>
                    <div class="points"><h6>B2C refers to businesses who sell solutions, services or products directly to consumers. Their target customers who are individual consumers who intend to buy what they offer for personal purposes. In order to encourage sales, B2C marketers focus all of their marketing efforts on the desires, needs, and issues facing an average product user. They both work in synergy for the proper growth of your brand.</h6> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Proper Business to Business and Business to Customer dynamics + Right promotion = Assurity of Success for your business</h2>
                        <div><h5></h5> </div>
                        <div class="points"><h6>Promotion is the key for any business or service. This is required to be done on both levels, promotion to another company and direct customers as well.</h6> </div>
                        <div class="points"><h6>Our niche expertised teams are well experienced to organize the best strategy to promote the business to other business identities. </h6> </div>
                        <div class="points"><h6>Polus technologies provide complete support to business or organizations to reach the demanded goal. We wrk intending to grab more and more customers from each corner.</h6> </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/prototype.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding pb-80">
        <div class="container pb-10">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/researchers.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">Targeting every profitable aspect.
                        </h2>

                    <div class="points"><h6>We strive to create a marketing strategy that not only differentiates you from others, but that identifies and creates value for your customers. And thus our strategies cover a wide range of themes:</h6> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container services">
            <div class="row gy-4 pt-20">
                <div class="col-lg-4 col-md-6">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h5>Research</h5>
                        <p>We make sure to line up your brand, your business, your institution and your image more closely to your target groups' needs and expectations.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <h5>Niche-driven Strategy</h5>

                        <p>At polus we can never compromise with the quality we want to deliver and hence every individual in our team is the master of his own niche which combinely generates a working strategical system for your workflow.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h5>A Highly Performing Website</h5>
                        <p> As a quintessential part to have a strong web presence, having a website becomoes pretty cliched, but having a resourceful website which conveys your value and vision to your viewers effectively is what makes one stand out. </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h5>SEO</h5>
                        <p>
                          While targeting all these arenas we focus on the little technicalities too. Making your web content highly optimized to maintain a highly appreciable image of your brand that resonates with search engines' algorithm.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h5>Social Media Management</h5>
                        <p>
                         A social media strategy across a large range of platforms that not only speaks highly of your brand but connects it to your audience is something that our team members are doing successfully over years.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h5>Advertisement</h5>
                        <p>
                         We ensure that your ad reflects your brand and your uniqueness so that the targeted market comes to you. To tap into the astounding benefits of strategies, our specialists help you analyse the results and work in the correct direction by finding multiple actionable insights.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h5>Referral Marketing</h5>
                        <p>
                           We take the advantage of the value of word of mouth to refer your brand to specific others which generates the results well alligned with our expectations.   </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h5>Marketing Automation, CRM, and Lead Nurturing</h5>
                        <p>
                            Polus Technologies helps you with your Marketing Automation strategy from solution selection, implementation, training, integration with CRM or other impactful systems, campaign execution, MA optimization, and management services.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h5>Testing and Improvement</h5>
                        <p>
                            We track our progress during different stages of the campaign and play with the stats to come up with a more refined path to follow. With each campaign, our experts analyse the results, and then refine the targets to help you achieve the highest ROI possible.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </section>


    <section class="cta-area cta-area-two section-padding bg-red-150 mt-5rem">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center pb-0">
                        <h2 class="mt-n4 font-bold">Can’t find what you’re looking for?</h2>
                        <a href="{% url 'contact' %}"><button class="btn btn-red">Contact</button></a>
                    </div>
                </div>
            </div>
        </div>
        <span class="shape9"></span>
        <span class="shape12"></span>
        <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
        <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
    </section>
    </main>
    {% endblock %}