{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3">BPO Services & Consulting</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/tech_support.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">BPO Services & Consulting and it's relevancy.
                        </h2>

                    <div class="points"><h6>Business Process Outsourcing, or BPO services, is the proactive outsourcing of specific tasks to expert partners that can help you save time, save money, and optimize your processes. Too many organizations, due to lack of a clear strategy and gudance, waste valuable time and effort trying to manage business processes that are not core to their business, which robs them of solely focusing on the products and services that matter to their customers and generate better customer experiences. </h6> </div>
                    <div class="points"><h6>Polus Technologies arms you with these superpowers so you can focus on you main endeavours while letting us do this for you.</h6> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">BPO Services. Let us hire and manage stuff for your business.</h2>
                        <div><h5>Recruiting the right individuals seems tricky? We've got you covered.</h5> </div>
                        <div class="points"><h6>We help you employ extraordinary salesforce trained in your voice. We take care of your customer service and technical support while you focus on other attention needing aspects. </h6> </div>

                        <div class="points"><h6> Scaling your business should not result in greater customer attrition, increased costs for full-time support personnel, or an unaddressed backlog of customer inquiries, and we, at Polus Technologies, take notable care of it. </h6> </div>
                         </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/hire.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/experts.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">Technical Support Outsourced
                        </h2>
                        <div><h5>We will keep you up and running.</h5> </div>
                        <div class="points"><h6>Technical difficulties are unavoidable. Even the most extensive usability testing won't be enough to compensate for the lack of adequate technical assistance. Our outsourced technical help relieves you of the strain. Every interaction a person has with your brand has the potential to turn them into loyal customers.</h6> </div>
                        <div class="points"><h6> Ran into a technical roadblock? No worries, we help you set up technical support staff trained to help the customer through every problem which will tackle all your issues on the same.</h6> </div>

                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Back-Office Support  </h2>
                        <div><h5>Get ready to be the  center of attention</h5> </div>
                        <div class="points"><h6>Outsourcing your routine back-office support duties benefits your business and saves the ultimate proxy for you, which is Time. You can focus on the specialized work that you recruited them to accomplish and leave the rest. </h6></div>
                        <div class="points"><h6> You can focus on your core talents and build your business, and we will take care of the rest.</h6> </div>
                         </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/team.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class=" section-padding">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/team-x.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">Talent Acquisition And Training
                        </h2>
                        <div><h5>Why settle when we can help you achieve the best!</h5> </div>
                        <div class="points"><h6>An effective talent acquisition plan which will shift you from an as-needed hiring process to a proactive one. We, at Polus Technologies, take a cyclical approach to support you in hiring top talent, focusing on cultivating long-term connections, strategically constructing applicant pools to meet current and future company needs, and building a sustainable skill base for a diverse workforce.</h6> </div>
                        <div class="points"><h6> We then train them to work full-time to meet customer expectations from the first client engagement after receiving training in your products, services, and corporate policies. </h6> </div>

                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Solid Customer Support. Say no to unsattisfied customers. </h2>
                        <div><h5>Listen them so they would like to listen you back.</h5> </div>
                        <div class="points"><h6> It's critical to be aware of a customer's needs at all times. In order for your organization to succeed, you must first identify what they want. It is best to outsource to qualified and dedicated customer service professionals if customer care is not a part of your core business process or if you lack expertise in that sector. </h6></div>
                        <div class="points"><h6> Polus Technologies is here to solve all your customer assistance issues. From quick replies to demystifying their queries, our outreach managers make it work for you.</h6> </div>
                         </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/trust.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-area cta-area-two section-padding bg-red-150 mt-5rem">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center pb-0">
                        <h2 class="mt-n4 font-bold">Can’t find what you’re looking for?</h2>
                        <a href="{% url 'contact' %}"><button class="btn btn-red">Contact</button></a>
                    </div>
                </div>
            </div>
        </div>
        <span class="shape9"></span>
        <span class="shape12"></span>
        <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
        <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
    </section>
    </main>
    {% endblock %}