{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3">Blog Management</h2>
                    </div>
                </div>
            </div>
        </div>
    </section> <section class=" section-padding">
                        <div class="container ">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="features-image">
                                        <img
                                        src="{% static 'graphics/blogging.svg' %}"
                                                alt="Features Image" class="graphics"
                                        />

                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-6">
                                    <div class="features-content" >

                                        <h2 class="pb-8">Blog Management and it's relevancy.
                                        </h2>

                                    <div class="points"><h6>Blog management is the process of creating, maintaining and sharing blogs to increase popularity of your website. A cost-effective way to add new content to your website on daily basis, so that your website remains updated. Our SEO armed blog management strategies even help you at gain organic leads. </h6> </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                 <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Blog articles that set you apart. Articles designed specifically for your needs.</h2>
                        <div><h5>Attracting potential audience into the vortex by providing value
                            </h5> </div>

                        <div class="points"><h6>An effective blog strategy can always be a game changer in pulling resonating clients. They allow you to stay up to date in your views and opinions as a brand and portray the same. They also allow you to comment on the ongoing narrative with authority.</h6> </div>

                        <div class="points"><h6>So we make sure that our SEO team works on the keywords to make the blog rich and optimize it for peak performance. Customized blogs increase traffic and thus the search engine ranking of your website, and reaches out to people who are looking to read it!</h6> </div>
                         </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/wordpress.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>




<section class="pricing-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-center">
                    <h3 >Blog posts and the magic they can do for you.</h3>
                </div>
            </div>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="business" role="tabpanel" aria-labelledby="business-tab">
                <div class="row">
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Sets the relevent marketing blueprint</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Helps you advertise the right way</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Attracts new clients and generate potential leads</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Making you trustworthy and informative </h5>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                                <h5 class="service">Shapes an online community </h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Establishing authority</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section class="pricing-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-center">
                    <h2 class="mt-n3">Why us, when there are so many out there? And what exactly we will do?</h2>

                </div>
                <div class="section-title-center"
                >
                <h6>Blogs are created, updated, and published regularly by many authorized visitors on your blog or promotional blogging websites. We will find relevant blog post ideas, manage your editorial calendar, and create enriched-quality content tailored to your potential customers. That's how they help:
                </h6>
            </div>
        </div>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="business" role="tabpanel" aria-labelledby="business-tab">
            <div class="row">
                <div class="col-sm-6 col-xl-4">
                    <div class="servicebox">
                        <h5 class="service">Sets the relevent marketing blueprint</h5>
                    </div>
                </div>      <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Frequently updated content</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Recognizing the right audience</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Blog Calendar</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Blog Traffic and Ranking Report </h5>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                                <h5 class="service">Relevant & useful content </h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Keyword-rich text, content & titles</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta-area cta-area-two section-padding bg-red-150 mt-5rem">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-center pb-0">
                    <h2 class="mt-n4 font-bold">Can’t find what you’re looking for?</h2>
                    <a href="{% url 'contact' %}"><button class="btn btn-red">Contact</button></a>
                </div>
            </div>
        </div>
    </div>
    <span class="shape9"></span>
    <span class="shape12"></span>
    <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
    <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
</section>
</main>
{% endblock %}