{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3">Content Solutions</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class=" section-padding ">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/blogging.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">Content Solutions and it's widespread relevancy.
                        </h2>

                    <div class="points"><h6>Content writing refers to creating content for online marketing purposes. With content, businesses can attract leads and foster positive connections with their audience, ultimately pushing them down the sales funnel.  </h6> </div>
                    <div class="points"><h6> We, at Polus Technologies, provides Content writing, which encompasses many different forms of text-based content. Each type can serve a different purpose and promote the brand in a different way.</h6> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                 <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Marketing via content. Getting ahead.</h2>
                        <div><h5>Execute Digital Marketing strategies in an efficient manner.</h5> </div>
                        <div class="points"><h6>Our team handles every aspect of your content development, generation, campaign, and management, from search engine optimization to copywriting and online PR, allowing you to develop leadership in your industry.
                            </h6> </div>

                        <div class="points"><h6>We engage audiences, encourage relevant conversation, influence behavior, and achieve brand objectives by employing effective strategies and innovative creative thinking.</h6> </div>
                         </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/userflow.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/analysis.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                       <h2 class="pb-8">  Structured process that smells like victory.
                        </h2>
                        <div><h5>Proceeding in a sequential hierarchy.</h5> </div>
                        <div class="points"><h6>We've discovered that the ideal content solutions necessitate three key components: strategy, technology, and talent. We combine all three on a single platform, allowing you to create content that both delights and drives results. Our procedure goes in the following order:</h6> </div>
                         </div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <div class="container services">
        <div class="row gy-4 pt-20">
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h5>Gather Information</h5>
                    <p>Our first step in content development is always to collect as much information and dig out minor or major loopholes in previous content as possible.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h5>Blog Topic Analysis</h5>

                    <p>We examine which pages on a competitor's site generate the most organic traffic. We'll assess whether we can outrank the competition based on the backlink profile, length, and quality of those pages.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Strategize and Curate</h5>
                    <p> During the content interpretation phase, we develop the content strategy and editorial calendar. Polus Technologies’ team produces pieces of high-quality content that satisfy search intent and that will encourage the reader to share.  </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Optimize & Publish</h5>
                    <p>
                        Once the curation phase is complete, we move on to optimization and publishing.t’s here that we consider things like readability, word count, related keywords, and more to make the content more attractive to search engines and audiences.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Promote</h5>
                    <p>
                        Social media is one thing, we move towards republishing platforms, email outreach, backlinks, and mining gold in the SEO industry.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Review & Repeat</h5>
                    <p>
                        Content solutions are never "done" or "merely provided." It is a continuous process that begins as soon as it concludes. As a result, we evaluate our content marketing efforts for each website on a monthly basis.
                    </p>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="cta-area cta-area-two section-padding bg-red-150 mt-5rem">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-center pb-0">
                    <h2 class="mt-n4 font-bold">Can’t find what you’re looking for?</h2>
                    <a href="{% url 'contact' %}"><button class="btn btn-red">Contact</button></a>
                </div>
            </div>
        </div>
    </div>
    <span class="shape9"></span>
    <span class="shape12"></span>
    <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
    <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
</section>
</main>
{% endblock %}