{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3">Online Events & Webinars</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/webinar.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">Online Events, Webinars and their relevancy.
                        </h2>

                    <div class="points"><h6> Webinar is an online seminar that allows one or more speakers to present over a web-based interface to a listening audience. Online events have started to bloom and lacking in that field can take ayou away from the long-term profit that you brand might have genrerated. </h6> </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                 <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Organize your journey. Get the most out of them.</h2>
                        <div><h5>Interactive online events and webinars that engage prospects all over the world</h5> </div>
                        <div class="points"><h6>Acknowledging the obvious importance of consistently and auspiciously conveying the right message to your audience, it has become critical to organize seminars, conferences, or conduct institutional events. The purpose of these events may vary, but finding a location is a supreme concern.
                            </h6> </div>

                        <div class="points"><h6>Polus Technologies provides you with a team of online event managers and webinar organizers that delivers the extraordinary outcome with ease.</h6> </div>
                         </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/collab.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/social-2.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                       <h2 class="pb-8">Beginning of something bigger. Reaching out to more people.
                        </h2>

                        <div class="points"><h6>Get it all done with perfection by letting our team manage your activites for your growth. Here's how we will help you in this:</h6> </div>
                         </div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <div class="container services">
        <div class="row gy-4 pt-20">
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h5>End-to-end online events and webinars</h5>
                    <p>We offer a variety of tools needed to effectively host large-scale events or webinars, from planning to post-event analysis, we do it all for you.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h5>Team Training </h5>

                    <p>Every large and small scale virtual event needs a team that is equipped to handle the event. The backend for these events goes beyond just the visible logistics. A team savvy in front and back end technology helps your audience have a flawless experience.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Strategize and Curate</h5>
                    <p> During the content interpretation phase, we develop the content strategy and editorial calendar. Polus Technologies’ team produces pieces of high-quality content that satisfy search intent and that will encourage the reader to share.  </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Make It Happen</h5>
                    <p>
                       We guide you to deliver a polished, interactive online webinar that includes video conferencing, screen sharing, Q&A, polling, and chat. Having multiple presenters in broadcast quality with audio controls and attention monitoring tools is a good idea.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Your way, our expertise</h5>
                    <p>
                        Customize your webinar and event invitations, as well as your registration site. Personalize the enrollment process by including questions that allow you to score, track, and follow up on leads.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Record everything</h5>
                    <p>
                        Record your webinar with one click. Availability is an attractive feature of brands and institutions. Your audience will thank you for this extra effort.
                    </p>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="pricing-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-center">
                    <h3 >Why do you even need Online Events and Webinars? See yourself.</h3>
                </div>
            </div>
        </div>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="business" role="tabpanel" aria-labelledby="business-tab">
                <div class="row">
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Communication made easy</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Build Trust with your audience</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Establish Authority</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Share Information with the Audience</h5>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                                <h5 class="service">Cost-Efficient Communications</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Wider Reach</h5>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="servicebox">
                            <h5 class="service">Source High-Quality Sales Leads</h5>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>


<section class="cta-area cta-area-two section-padding bg-red-150 mt-5rem">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-center pb-0">
                    <h2 class="mt-n4 font-bold">Can’t find what you’re looking for?</h2>
                    <a href="{% url 'contact' %}"><button class="btn btn-red">Contact</button></a>
                </div>
            </div>
        </div>
    </div>
    <span class="shape9"></span>
    <span class="shape12"></span>
    <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
    <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
</section>
</main>
{% endblock %}