{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3">Search Engine Optimization</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class=" section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/search-x.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">Search Engine Optimization and it's relevancy.
                        </h2>

                    <div class="points"><h6> SEO stands for “search engine optimization.” In simple terms, it means the process of improving your site to increase its visibility when people search for products or services related to your business in Google, Bing, and other search engines. The better visibility your pages have in search results, the more likely you are to garner attention and attract prospective and existing customers to your business.</h6> </div>
                    <div class="points"><h6>We understand the actual depth, intricacies and how profitable SEO can be for organic reach's standpoint.</h6> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                 <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Optimizing your web presence to accelerate business growth.</h2>
                        <div><h5>Playing the game how it should be played.</h5> </div>
                        <div class="points"><h6>Why SEO? Having a well managed SEO invites your potential customers by showing you as the prior way to fullfil their requirements.
                            And when it comes to your brand image, it's quintessential. </h6> </div>

                        <div class="points"><h6>A custom SEO campaign with Polus Technologies targets on-page and off-page SEO, which includes things like keyword research and content implementation, to help your most valuable audience find you online.</h6> </div>
                         </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/analytics.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/data.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                       <h2 class="pb-8"> The Compounding spiral.
                        </h2>
                        <div><h5>Going all in for your product.</h5> </div>
                        <div class="points"><h6>SEO is indeed the synergy of all marketing activities online. Marketing and management activities such as Content Solutions, Events and Webinars, Social Media Marketing, Blogging, Blog Management, CRM and others will help you get better rankings on several search engine sites. </h6> </div>
                        <div class="points"><h6>Now imagine how far you will ace the competition if SEO management combined along with the above services are provided to you. Our packge includes:</h6> </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>


    <div class="container services">
        <div class="row gy-4 pt-20">
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h5>SEO Management</h5>
                    <p>Using our semantic platform and website auditing capabilities, we create a rock-solid SEO strategy to drive customers directly to your website.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h5>Salient Features</h5>

                    <p>Our strategies include some unique features, such as knowledge graph publishing, tailored keyword research, and strategic website quality monitoring.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Boost your digital marketing venture</h5>
                    <p> We stand out in search: our team of content marketing, data analysis, and technical SEO experts will get you relevant traffic.    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Structured data</h5>
                    <p>
                        Polus Technologies adds a layer of structured data. It assists in search engines swiftly recognized and hence classify the content of your website on top.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Industry SEO framework</h5>
                    <p>
                        We apply to your specific case an SEO framework built around your industry that has previously proven to work.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Link Planning</h5>
                    <p>
                        This is where we close the authority gap. For the first quarter, we help you create a customized link development and outreach program, complete with a schedule of link-building activities.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Tailored Assistance</h5>
                    <p>
                        We provide tailored solutions to meet your marketing requirements. We integrate our technology and offer specialized training programs for your team.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Custom knowledge Demographics</h5>
                    <p>
                        All the structured data created by Polus Technologies are connected by meaningful links and published on a knowledge graph built and refined around your content model.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="cta-area cta-area-two section-padding bg-red-150 mt-5rem">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-center pb-0">
                    <h2 class="mt-n4 font-bold">Can’t find what you’re looking for?</h2>
                    <a href="{% url 'contact' %}"><button class="btn btn-red">Contact</button></a>
                </div>
            </div>
        </div>
    </div>
    <span class="shape9"></span>
    <span class="shape12"></span>
    <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
    <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
</section>
</main>
{% endblock %}