{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3">Educational Organizations</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Ideating the strategy, the elite growth methodology.</h2>
                        <div class="points"><h6>So you are an educational organization and looking for a well established game plan to scale and grow. At Polus Technologies, we do that by following our own marketing philosophy. We come up with a right strategy by providing you the crux on which the whole market is built upon. We customize things for you, according to your audience and the environment you want to scale your endeavour in.</h6> </div>
                        <div class="points"><h6> Suppose you own a coaching institution and you want the marketplace to register your presence and even participate in your endeavours. Well, we connect you with the marketplace by introducing digital advertising like generating the organic audience by a maestro Search Engine Optimization plan, relevant content creation, influencing your audience by Social Media Optimization, and many more, along with the offline modes of promoting to maximize your chances. </h6> </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/edu.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding ">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/strategists.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8"> From creating an success ideology, to dominating the marketplace.
                        </h2>

                    <div class="points"><h6>We get it all done. We start with client's discovery in the existing and upcoming execution. Matching with the industry requirements, infrastructure, labs, staffing, we help you connect all the pieces of puzzles. We recognize and present you the strategies to target the market, i.e planning to invite students or more students from the entire state, country, or world. </h6> </div>
                    <div class="points"><h6>Through graphical, visualization, audio tools, etc., we attract distinct types of audience groups. We bring knowledge of the different types of audiences-urban, rural, across states or country to gather a particular number of students.</h6> </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Why is Polus Technologies a perfect bet? </h2>
                                              <div class="points"><h6>After reviewing dimensions like infrastructure, strengths, requirements, workflow, etc., we present our insights, suggest changes, and recommend advanced courses of action, and adding valuation in the previous processes. We put forward our Online and Offline Reputation Management and Business Development services to enhance your reputation, admissions and presence.</h6> </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/trust.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>

    </section>


    <div class="container pt-20 pb-90">
        <div class="row gy-4 pt-20 services">
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h5>Placement Strategies</h5>
                    <p>Boost student employability and improve your institution's reputation. Helping you achieve this by connecting the interested companies to you.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h5>Market Analysis</h5>

                    <p>We conduct SWOT & financial analysis and offer you consultancy about resource ideation, business development and content strategy.

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Assess potential investments</h5>
                    <p>Helping educational businesses grow into acquisitions. Assisting in identifying promising businesses to doing commercial, enhancing portfolio value growth.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>School Branding</h5>
                    <p>
                        We create branding solutions and strategies as your brand is your school’s unique identifier and stays at the heart of your marketing.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Marketing Support</h5>
                    <p>Help you in comprehensive marketing campaigns that produce an interactive user experience. Assisting you in organzing offline online events.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Social Media Optimization</h5>
                    <p>Establish a strong internet presence and grow your influence. This will not only familiarize the public with your institution but will also help you become a part of the discussion.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta-area cta-area-two section-padding bg-red-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-center pb-0">
                    <h2 class="mt-n4 font-bold">Check how we work for Educational Organizations</h2>
                    <a href="{% url 'workprocess/edu-org' %}"><button class="btn btn-red">How we work</button></a>
                </div>
            </div>
        </div>
    </div>
    <span class="shape9"></span>
    <span class="shape12"></span>
    <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
    <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
</section>
</main>
{% endblock %}