{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3">Political Leaders</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Are you getting noticed for the right reasons?</h2>

                        <div class="points"><h6>We build a roadmap of success for the political leaders or parties who want to make their actions get appreciated among the people. We connect you with the people by showing and directing your actions, leading to growth of trust in your follower base. We customize things for you, according to your leadership style, your targeted follower base and most importantly, your environment.  </h6> </div>
                        <div class="points"><h6>We are offering brand strategy, digital planning, media campaigns and much more. These unique insights allow for us to develop authentic creative communication, distributed on the right local media mix to deliver a winning campaign for you. </h6> </div>


                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/leader.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/analysis.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8"> What We Can Help You With?
                        </h2>

                    <div class="points"><h6>Our approach starts with understanding your requirements, and your goal for any upcoming or current leadership position to serve among your community, state, or country.

                  </h6></div>
                    <div class="points"><h6>We analyze your goals and leadership style and familiarize ourselves with your work.  We then proceed to research on your behalf about the needs of the people in your constituency and the audience that you aim to represent.

                    </h6> </div>
                    <div class="points"><h6>We plan the right kind of action, design the mode of working and paint you the success picture of your leader era.

                    </h6> </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Why we can be your best bid</h2>
                        <div><h5>Path to succceed.</h5> </div>
                        <div class="points"><h6>We put forward our online and offline reputation management and business development strategies to maximize your leadership presence. We try to help you make sure that your audience knows your image and your name, that there is some level of familiarity with them.</h6> </div>

                        <div class="points"><h6>Along with all these and many more services We handpick exactly which opportunities and leads yield maximum output in a direction that actually works for you, taking you far ahead of the competition </h6> </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/implement.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container pb-90">
        <div class="row gy-4 pt-20 services">
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <h5>We understand your Voter Base</h5>
                    <p>Our services help in gathering more and more voter's base. Connect to the real needs of the people in your constituency and the audience that you aim to represent.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    <h5>Planning Offline & Online Calendars</h5>

                    <p>We manage your reputation both in the offline and online worlds. We create political advertising and calendars for you to implement with ease.

                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Online Video Creation & Distribution</h5>
                    <p> We help you to develop video strategies to achieve your goals and produce & distribute it to your audience and tempt them to share on social networks.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Targeted Online & Offline Ads</h5>
                    <p>
                        With our creative designs, write-ups and advertisements we make sure that you become a part of the conversation and are able to get in the limelight.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Paid Social Media</h5>
                    <p>Social Media is an exceptional platform for politicians to engage with the common people. We use this resource effectively to expand your reach drastically.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <h5>Design Agendas</h5>
                    <p>We identify the issues that are being faced by the general public and curate agendas and solutions that are approved internationally and help you implement them in your case.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cta-area cta-area-two section-padding bg-red-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-center pb-0">
                    <h2 class="mt-n4 font-bold">Check how we work for Political Organizations</h2>
                    <a href="{% url 'workprocess/political-org' %}"><button class="btn btn-red">How we work</button></a>
                </div>
            </div>
        </div>
    </div>
    <span class="shape9"></span>
    <span class="shape12"></span>
    <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
    <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
</section>
</main>
{% endblock %}