{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3"> Offline Reputation Management</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">
                            Offline marketplace is  non-negotiable
                            </h2>
                        <div class="points"><h6>Capitalizing over market requires an all-directional effort, and when it comes to building your brand image, online marketplace is growing at a faster pace but Offline marketplace is still non-negotiable, and targets a whole different spectrum of audiencee.</h6></div>
                            <div class="points"><h6> If you are missing out on people who don't have access to Internet or who don't prefer it as much as others do, then you are doomed to fail. So we take care of this segment as well with the different services we provide.</h6>  </div>



                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/smart.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding ">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/newspaper.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">What We Can Help You With?
                        </h2>

                    <div class="points"><h6>From building a strategy to market your brand to build your brand image which automatically leads, we are completely in for all of that.

                  </h6></div>
                    <div class="points"><h6>We strengthen your potential to the core and reframe a high peak graph by our services and consultancy. All departments including, production, marketing, HR, Polus scale and integrate the skills/potential of each staff member to achieve advancement of your company with employee comfort too.

                    </h6> </div>
                    <div class="points"><h6>We plan the right kind of action, design the mode of working and paint you the success picture of your leader era.

                    </h6> </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8">Why we can be a gamechanger for your brand?</h2>
                        <div><h5>Work with the best.</h5> </div>
                        <div class="points"><h6>We put forward our wide range of services to enhance your offline presence and the results you are getting from it. With our niche-specific experts, we make it possible to break down the blueprint of growth for your company and get it done by the individual experts of that field. </h6> </div>
                        <div class="points"><h6>Our nich-specific experts filled team strategizes for your campaigns, road shows, charity shows, and seminars to make it worth investing in us.  </h6> </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/collab.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class=" section-padding pb-80">
        <div class="container services">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="mt-n3">Online Reputation Management Strategies</h2>
                    </div>
                </div>
            </div>
            <div class="row gy-4 pt-20">
                <div class="col-lg-4 col-md-6">
                    <a href="{% url 'campaigns' %}">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <h5>Campaigns</h5>
                        <p> We provide you with detailed planning prior to launching your campaign andhelp you identify the channels, platforms, media, and budgets to develop a campaign that really stands out from the crowd.
                        </p>
                    </div></a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="{% url 'road-shows' %}">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <h5>Road Shows</h5>

                        <p>In order to raise brand awareness and product expertise, we help you to organize roadshows in which customers, prospects and partners gather for engagement with leadership, product demos, and networking.
                        </p>
                    </div></a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="{% url 'offline-ads' %}">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h5>Offline Ads</h5>
                        <p>Flyer distribution, residential & commercial circulars, event marketing, demostrations & merchandise giveaways, promotional campaigns, print advertisements, business cards and brochures are a part of our offline ads services.
                        </p>
                    </div></a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a href="{% url 'seminars' %}">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h5>Seminars and Events</h5>
                        <p>We help you select the best site for the event, venue decor, logistics and transportation preparations, while also research and identify the issues affecting a common man and standardised solutions to them.
                        </p>
                    </div></a>
                </div>

                <div class="col-lg-4 col-md-6">
                    <a href="{% url 'charity-shows' %}">
                    <div class="single-component-widget wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h5>Charity Shows</h5>
                        <p>Different  campaigns can drive distinct results and help you crowdfund to fulfill your chosen cause. We orchestrate your ideas and put your resources to best use while staying within budget.
                        </p>
                    </div></a>
                </div>
            </div>
        </div>
    </section>


    <section class="cta-area cta-area-two section-padding bg-red-150 mt-5rem">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center pb-0">
                        <h2 class="mt-n4 font-bold">Can’t find what you’re looking for?</h2>
                        <a href="{% url 'contact' %}"><button class="btn btn-red">Contact</button></a>
                    </div>
                </div>
            </div>
        </div>
        <span class="shape9"></span>
        <span class="shape12"></span>
        <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
        <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
    </section>
    </main>
    {% endblock %}