{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3">Business Houses and Brands: Work Process</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class=" section-padding ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/cart.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8"> Strategies that work for real world
                        </h2>
                        <div><h5></h5> </div>
                    <div class="points"><h6>Saurav quit his job and started his business 2 months ago. Before starting it, he was assured about his products getting sold in future, but in reality that did't happen. Saurav, then decided to work with an organization which helped him to stratagize for his brand. Later he started to host charity shows for social cause and sponsoring such movements. He became a noticablle figure among people of his city, his brand has a voice of his own which people would like to listen.</h6> </div>
                    <div class="points"><h6> People, plainly out of curiosity, after attending these charity events used to search about his brand. The website of his brand shows his products and article related to these products. People used to casually browse them just to found out that his products have good credibility and could be trusted easily. His sales started to pick some pace and his brand value began to rise upwards </h6> </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8"> How We Work? </h2>
                        <div><h5>We care about results, so we strategize to achieve the same .</h5> </div>
                        <div class="points"><h6> Part of <strong>maximizing</strong> your foundation is publicizing your actions, endeavours, updates and schemes to your potential connections, so we make it happen for Educational Organizations.</h6> </div>
                        <div class="points"><h6>  We arm your web presence with solid SEO techniques, notable niche oriented yet diverse content to target different spectrums of potential connections, Social media optimization tactics to make you appear in related web searches. Dominating the online marketplace is important but offline marketplace is the one we can't look down upon.
                            And so we guide you to organize charity shows, road shows, seminars, to market your selling points and publicizing your offline presence to get more leads.</h6> </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/process.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class=" section-padding ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/search.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8"> Finding the right fit
                        </h2>
                        <div><h5>Establishing the realational dynamics between you and your potential clients.</h5> </div>
                    <div class="points"><h6>We start with clients’ discovery in the existing and upcoming execution. Matching with the industry requirements, infrastructure, labs, staffing, we help you connect all the pieces of puzzles. We recognize and present you the strategies to target the market, i.e planning to invite students or more students from the entire state, country, or world. </h6> </div>
                    <div class="points"><h6>Through graphical, visualization, audio tools, etc., we attract distinct types of audience groups. We bring knowledge of the different types of audiences-urban, rural, across states or country to gather a particular number of students. Just set your marketing budget and Polus will finally help you to achieve it.</h6> </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8"> Requirement Analysis. Diving deep. </h2>
                        <div><h5>Scratching below the surface of Iceberg.</h5> </div>
                        <div class="points"><h6>Search begins from plotting all the existing information and generating realistic data. After reviewing dimensions like infrastructure, strengths, requirements, workflow, etc., we present our insights, suggest changes, and recommend advanced courses of action, and adding valuation in the previous processes. We put forward our Online and Offline Reputation Management and Business Development services to enhance your reputation, admissions and presence.</h6> </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/researchers.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class=" section-padding ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/implement.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">Pushing the propsal

                        </h2>
                        <div><h5>Designing a potential workable methodology.</h5> </div>
                    <div class="points"><h6>   Once we get the stats we make a strategic blueprint of how to proceed next and having that we push our final proposal and let it reap the fruits for you.
                    </h6> </div>
                    <div class="points"><h6>Data from different categories is merged to finally getting the first workable solution methodoly. Later on, our team pushes the proposal to execute it in an result oriented way.</h6> </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8"> The Ultimate SWOT Analysis. </h2>
                        <div><h5>We never settle for anything less than perfection</h5> </div>
                        <div class="points"><h6>SWOT stands for Strengths, Weaknesses, Opportunities, and Threats, and so a SWOT Analysis is a technique for assessing these four aspects of your business</h6> </div>
                        <div class="points"><h6> We conduct SWOT analysis so that you discover the elements that must be considered when designing marketing and corporate strategies.</h6> </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/userflow.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class=" section-padding ">
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/finance.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">Listing the performance deal breakers

                        </h2>
                        <div><h5>Target selection at it's best.</h5> </div>
                    <div class="points"><h6>   When it comes to delivering excellence, we haven't change a bit. We go through each step necessary, brainstorm ideas and then come up with the most profiting ones to start with.
                    </h6> </div>
                    <div class="points"><h6>We choose our targets to maximize your results and growth. Here, at Polus Technologies, our niche-oriented experts do their research and implement the stuff in a priority heirarchy.</h6> </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <section class="section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-8">
                    <div class="features-content" >
                        <h2 class="pb-8"> Role Division. Breaking sections into sub-sections to maximize results.</h2>
                        <div><h5>Giving attetntion to every independent subject</h5> </div>
                        <div class="points"><h6>Once we are onboard with our plans, we divide the sections of our performance inducing chart into subsections, and our niche oriented teams take care of the rest.</h6> </div>

                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="features-image">
                        <img
                                src="{% static 'graphics/team.svg' %}"
                                alt="Features Image" class="graphics"
                        />
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class=" section-padding pb-80">
        <div class="container pb-10">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="features-image">
                        <img
                        src="{% static 'graphics/working.svg' %}"
                                alt="Features Image" class="graphics"
                        />

                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="features-content" >

                        <h2 class="pb-8">
                         Journey of a Hero. Painting the picture.
                        </h2>
                        <div><h5>Last but not the least</h5> </div>
                    <div class="points"><h6>   After executional part, we get the results and then analyze them again and again to optimize the strategy for better, which finally makes our branding the best in the market. We help you to emerge as the hero of the story with the incresed growth as your superpower.
                    </h6> </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="cta-area cta-area-two section-padding bg-red-150">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center pb-0">
                        <h2 class="mt-n4 font-bold">Checkout our services</h2>
                        <a href="{% url 'business-development' %}"><button class="btn btn-red">Services</button></a>
                    </div>
                </div>
            </div>
        </div>
        <span class="shape9"></span>
        <span class="shape12"></span>
        <img class="shape10 d-none d-lg-block" src="{% static 'images/shape/shape10.svg' %}" alt="Shape">
        <img class="shape11 d-none d-lg-block" src="{% static 'images/shape/shape11.svg' %}" alt="Shape">
    </section>
    </main>
    {% endblock %}